<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tom'calclulator</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Tom'calclulator</h1>
    <form method="post">
        <label for="quantity">Quantity</label>
        <input id="quantity" type="number" name="product_quantity" value="{{ product_quantity }}"/>
        <label for="price">Product price</label>
        <input id="price" type="text" name="price" value="{{ price }}"/>
        <label for="state_code">US state code</label>
        <input id="state_code" type="text" name="state_code" value="{{ state_code }}"/>
        <br>
        <input type="submit" value="Calculate">
    </form>
    {% if errors %}
        <p>Errors:</p>
        <ul>
            {% for value in errors %}
                <li style="font-weight: bolder; font-style: italic; color: red">{{ value }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if total_order_price %}
        <h3>Total order price:  {{ total_order_price }}</h3>
    {% endif %}
    <footer>
      Created by <a href="https://github.com/misteraverin">Maxim Averin</a>
    </footer>
</body>
</html>